nav {
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: white;
}

nav li {
 display: inline-block;
 font-size: 18px;
 text-align: left;
}

body {
  padding-top: 70px;
  text-align: center;
  background-image: url("https://www.omnihotels.com/-/media/images/hotels/phxrst/photos/resort/phxrst-omni-scottsdale-resort-montelucia-pool-4-hero.jpg?%20responsive-widths=&la=en");
  color: #c61d00;
}

#motto {
  font-size: 26px;
  font-style: italic;
  color: #4aa54b;
}

.acmd {
  list-style-type: none;
  background-image: linear-gradient(to right, #e0f0f9, #e0f0f9);
  font-size: 21px;
}

.activity {
  list-style-type: none;
  background-color: #e0f0f9;
}

h1 {
  color: black;
}

#lahey {
  background-color: #0099c6;
}
